
.left-content {
    display: inline-block;
    width: 280px;
    height: 100vh;
    padding-left: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f1f1f1;
    .porspector-header {
        padding-top: 30px;
        font-size: 30px;
        font-weight: 700;
        margin: 0;
    }
    .side-segments {
        margin-top: 40px;
        display: inline-block;
        .input-search {
            width: 240px;
            padding: 10px;
            background: #ffffff;
            border: 1px solid #cccccc;
            box-sizing: border-box;
        }
        .segment-text {
            margin-top: 20px;
            font-size: 14px;
            color: rgba(60, 60, 60, 0.7);
            font-weight: 700;
        }
        .segment-header {
            text-transform: capitalize;
            color: #181818;
            font-weight: 700;
            & .segment-icon {
                margin-right: 10px;
            }
        }
    }
    .addnewSegments-left{
        width: 240px;
        height: 35px;
        background-color: blue;
        border-radius: 5px;
        text-align: left;
        color: white;
        border: unset;
    }
}
// .main-content {
// width: 1800px;
.top-header {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 310px);
    display: inline-block;
    border-bottom: 1px solid #cccccc;
    .top-header-images {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.segments-count {
    display: inline-block;
    height: calc(100vh - 86px);
    width: calc(100% - 310px);
    margin-top: 82px;
    overflow: auto;
    margin-left: 310px;
    .segment-header {
        display: inline-block;
        font-size: 30px;
        text-transform: capitalize;
        & .segment-icon {
            margin-right: 10px;
        }
    }

    .new-segments-card {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        font-size: 30px;
        display: inline-flex;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    .new-segments {
        position: relative;
        display: inline-block;
    }
    .bg-dot {
        position: absolute;
        top: 20px;
        right: 20px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
    .segments-name {
        margin-left: 11px;
    }
    .segments-list {
        display: flex;
    }
    .segment-container {
        position: relative;
        margin-left: 30px;
    }
    .segments-down-arrow {
        position: absolute;
        top: 35px;
        margin-left: 20px;
    }
    .add-segments-card {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        border: 1px solid #3c3c3c;
        font-size: 30px;
        display: flex;
        margin: 10px;
        align-items: center;
        justify-content: center;
        position: relative;
        &:hover {
            cursor: pointer;
            border: 1px solid #334bfa;
        }
        &:hover::after {
            content: "Add a new table";
            position: absolute;
            top: -28px;
            left: 0;
            // height: 27px;
            width: 100px;
            font-size: 12px;
            padding: 3px;
            background-color: #334bfa;
            border: 1px solid #334bfa;
            color: white;
        }
    }
}

