/** Regular */
@font-face {
  font-family: "Inter-regular";
  font-weight: 400;
  src: url("assets/font/Inter-Regular.ttf");
}

// @font-face {
//   font-family: "Poppins-medium";
//   font-weight: 500;
//   src: url("assets/font/Poppins-Medium.ttf");
// }

// @font-face {
//   font-family: "Poppins-semibold";
//   font-weight: 600;
//   src: url("assets/font/Poppins-SemiBold.ttf");
// }

// @font-face {
//   font-family: "Poppins-bold";
//   font-weight: 700;
//   src: url("assets/font/Poppins-Bold.ttf");
// }

// @font-face {
//   font-family: "Poppins-ExtraBold";
//   font-weight: 800;
//   src: url("assets/font/Poppins-ExtraBold.ttf");
// }

// //global class names of fonts

// .sitefontlight {
//   font-family: "Poppins-light" !important;
// }

// .sitefontnormal {
//   font-family: "Poppins-regular" !important;
// }

// .sitefontmedium {
//   font-family: "Poppins-medium" !important;
// }

// .sitefontsemibold {
//   font-family: "Poppins-semibold" !important;
// }

// .sitefontbold {
//   font-family: "Poppins-bold" !important;
// }

// .sitefontextrabold {
//   font-family: "Poppins-ExtraBold" !important;
// }
