/* You can add global styles to this file, and also import other style files */
@import "assets/modal";
@import "font";
* {
    font-family: Inter-regular;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
    box-shadow: none !important;
}

.is-inp-invalid {
    border-color: red !important;
}
